<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疫情监控</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <style>

    </style>
</head>
<body>
<div id="title">全国疫情实时追踪</div>
<div id="time"></div>
<div id="left1">左1</div>
<div id="left2">左2</div>
<div id="center1">
    <div class="num"></div>
    <div class="num"></div>
    <div class="num"></div>
    <div class="num"></div>
    <div class="txt">累计确诊</div>
    <div class="txt">现有疑似</div>
    <div class="txt">累计治愈</div>
    <div class="txt">累计死亡</div>
</div>
<div id="center2">中2</div>
<div id="right1">右1</div>
<div id="right2">右2</div>
<script src="../static/js/ec_right2.js"></script>
<script src="../static/js/ec_right1.js"></script>
<script src="../static/js/ec_left1.js"></script>
<script src="../static/js/ec_left2.js"></script>
<script src="../static/js/ec_center.js"></script>
<script src="../static/js/controller.js"></script>
</body>
</html>